Specify filepatterns you want git to ignore.

Example:
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
