<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  
 





 
  
  <siteMapNode id="80" title="Quản trị">
      <!--<siteMapNode id="16" title="Hệ thống" ImageUrl="i-stack">
      <siteMapNode id="17" title="Nhật ký hệ thống" controller="System" action="SystemLog" ImageUrl="i-statistics" />
      <siteMapNode id="18" title="Thông tin đăng nhập" controller="System" action="SystemInfo" ImageUrl="i-hexagon2" />
    </siteMapNode>-->
    <!--<siteMapNode id="81" title="Người dùng" ImageUrl="i-cog2" >
        <siteMapNode id="82" title="Danh sách người dùng" controller="Account" action="Manage" />
        --><!--<siteMapNode id="21" title="Phân quyền" controller="Home" action="Index" />--><!--
    </siteMapNode>-->
     
    </siteMapNode>
  
</siteMap>

