@{
    Layout = null;
    ViewBag.Title = "HomePage";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Themes/NHG-2015/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Themes/NHG-2015/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="@Url.Content("~")themes/login/css/style.css" type="text/css">


    <title>Hệ thống quản lý thông tin</title>
</head>
<body>

    <div class="container" style="margin-left:20px;margin-right:20px;margin-top:0px;">

        <div class="row">
            <div class="col-md-1" style="width:200px">
                <img style="width:200px;height:100px;line-height:70px" src="@Url.Content("~")Themes/NHG-2015/images/Logo.png" class="m-r-sm" alt="scale">
            </div>
            <div class="col-md-9" style="height: 70px; line-height: 70px;color:#ffffff;font-size:21pt;text-align:left;padding-top:23px;text-shadow: 0 0 1px #FF0000, 0 0 3px #0000FF;font-weight:bold">
                HỆ THỐNG QUẢN LÝ THÔNG TIN NỘI BỘ
            </div>
        </div>



        <div class="row" style="padding-top: 50px; padding-left: 10px; padding-right: 10px; line-height: 100p; border: 1px; border-radius: 5px;">

            <div class="col-md-2 bticon">
                <a target="_blank" href="http://www.ricons.vn/" style="display:block;width:100%" class="buttoncustom WhiteButton">
                    <span style="background-color: #1d9d74;" class="bgitem"></span>
                    <span class="btcontent">
                        <span class="imagesicon">
                            <i class="fa fa-globe"></i>
                        </span>
                        <span class="spantext">WEBSITE CÔNG TY</span>
                    </span>
                </a>
            </div>

            <div class="col-md-2 bticon">
                <a target="_blank" href="https://www.facebook.com/ricons.vn" style="display:block;width:100%" class="buttoncustom WhiteButton">
                    <span style="background-color: #005ec8;" class="bgitem"></span>
                    <span class="btcontent">
                        <span class="imagesicon">
                            <i class="fa fa-university"></i>
                        </span>
                        <span class="spantext">RICONS FANPAGE</span>
                    </span>

                </a>
            </div>

            <div class="col-md-2 bticon">
                <a target="_blank" href="http://eoffice.ricons.vn/FreelanceRIHOME/SitePages/FreelanceRihomeRedirect.aspx" style="display:block;width:100%" class="buttoncustom WhiteButton">
                    <span style="background-color: #001c9b;" class="bgitem"></span>
                    <span class="btcontent">
                        <span class="imagesicon">
                            <i class="fa fa-user-circle-o"></i>
                        </span>
                        <span class="spantext">ĐĂNG KÝ CỘNG TÁC VIÊN RIHOME</span>
                    </span>

                </a>
            </div>

            <div class="col-md-2 bticon">
                <a target="_blank" href="http://qltd.ricons.vn" style="display:block;width:100%" class="buttoncustom WhiteButton">
                    <span style="background-color: #107abc;" class="bgitem"></span>
                    <span class="btcontent">
                        <span class="imagesicon">
                            <i class="fa fa-user-circle-o"></i>
                        </span>
                        <span class="spantext">QUẢN LÝ TUYỂN DỤNG</span>
                    </span>

                </a>
            </div>

            <div class="col-md-2 bticon">
                <a target="_blank" href="http://booking.ricons.vn/" style="display:block;width:100%" class="buttoncustom WhiteButton">
                    <span style="background-color: #1d9d74;" class="bgitem"></span>
                    <span class="btcontent">
                        <span class="imagesicon">
                            <i class="fa fa-calendar"></i>
                        </span>
                        <span class="spantext">BOOKING</span>
                    </span>

                </a>
            </div>


        </div>

        <div class="row" style="padding-top: 30px; padding-left: 10px; padding-right: 10px; line-height: 100p; border: 1px; border-radius: 5px;">

            <div class="col-md-2 bticon">
                <a target="_blank" href="http://dkp.ricons.vn" style="display:block;width:100%" class="buttoncustom WhiteButton">
                    <span style="background-color: #ff7403;" class="bgitem"></span>
                    <span class="btcontent">
                        <span class="imagesicon">
                            <i class="fa fa-user-circle-o"></i>
                        </span>
                        <span class="spantext">ĐĂNG KÝ PHÉP</span>
                    </span>
                </a>
            </div>

            <div class="col-md-2 bticon">
                <a target="_blank" href="https://lichhoptuan.ricons.vn" style="display:block;width:100%" class="buttoncustom WhiteButton">
                    <span style="background-color: #296410;" class="bgitem"></span>
                    <span class="btcontent">
                        <span class="imagesicon">
                            <i class="fa fa-user-circle-o"></i>
                        </span>
                        <span class="spantext">QUẢN LÝ BIÊN BẢN HỌP</span>
                    </span>

                </a>
            </div>

            <div class="col-md-2 bticon">
                <a target="_blank" href="http://eoffice.ricons.vn/chaongaymoi" style="display:block;width:100%" class="buttoncustom WhiteButton">
                    <span style="background-color: #a32390;" class="bgitem"></span>
                    <span class="btcontent">
                        <span class="imagesicon">
                            <i class="fa fa-user-circle-o"></i>
                        </span>
                        <span class="spantext">CHÀO NGÀY MỚI</span>
                    </span>

                </a>
            </div>

            <div class="col-md-2 bticon">
                <a target="_blank" href="http://qldt.ricons.vn" style="display:block;width:100%" class="buttoncustom WhiteButton">
                    <span style="background-color: #107abc;" class="bgitem"></span>
                    <span class="btcontent">
                        <span class="imagesicon">
                            <i class="fa fa-user-circle-o"></i>
                        </span>
                        <span class="spantext">QUẢN LÝ ĐÀO TẠO</span>
                    </span>

                </a>
            </div>

            <div class="col-md-2 bticon">
                <a target="_blank" href="http://vpp.ricons.vn" style="display:block;width:100%" class="buttoncustom WhiteButton">
                    <span style="background-color: #1d9d74;" class="bgitem"></span>
                    <span class="btcontent">
                        <span class="imagesicon">
                            <i class="fa fa-user-circle-o"></i>
                        </span>
                        <span class="spantext">ĐĂNG KÝ VĂN PHÒNG PHẨM</span>
                    </span>

                </a>
            </div>


        </div>


       


    </div>


</body>
</html>